.swatch {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

.color-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 150px);
}