.project-list-header {
  color: yellow;
}

.project-header-container {
  margin: 1em;
}

.project-list-hr {
  margin: 0;
  color: black;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 1;
}

.project {
  background-color: #212529;
  color: cyan;
  font-size: 24px;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}

.project-blurb {
  margin: 1rem;
}

.project-mgt-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.project-banner {
  background-color: #212529;
  color: magenta;
  font-size: 18px;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}

.edit-project-container {
  display: flex;
  background-color: #212529;
  color: cyan;
  justify-content: center;
  margin: 1em;
  border-radius: 10px;
}

.edit-project-container-child {
  width: 100%;
  margin: 1em;
}

.project-edit-header {
  color: yellow;
  text-decoration: none;
}

.cancel-btn-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.proj-details-span {
  color: magenta;
}

.proj-details-span:hover {
  color: rgb(207, 0, 207);
  cursor: pointer;
}

.proj-delete {
  color: yellow !important;
}

.proj-delete:hover {
  color: rgb(219, 219, 15) !important;
  cursor: pointer !important;
}

.proj-edit-btn-span {
  color: yellow;
}

.proj-edit-btn-span:hover {
  color: rgb(212, 212, 23);
  cursor: pointer;
}
