.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 150px);
}

.welcome-greeting {
  display: flex;
}

.welcome-header {
  text-align: center;
  font-size: 72px;
  margin-top: 150px;
}

.welcome-subheading {
  text-align: center;
  font-style: italic;
}